body{
	background: antiquewhite;
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}

#container{
	width:50%;
	background: cadetblue;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
	position: relative;
}

header{
	text-align: center;
	border-bottom: #fff dashed 1px;
}

header h1{
	margin: 0;
	padding: 0;
}

header p{
	padding: 0;
	margin-top: 5px;
	color #000;
}

section {
	min-height: 400px;
}

footer{
	text-align: center;
}

.footer-buttons{
	position: absolute;
	bottom: 20%;
	left: 32%;
}

button{
	width: 100px;
	background: darkgray;
	border: 0;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
}

#results 
h3{
	padding: 10px; 
	margin: 10px 0;
}
div{
	padding-top: 20px;
}

#results span{
	color: #000;
	font-weight: bold;
}
